<div
  class="product-card">

        <span
          class="tag"
          *ngIf="product.tag"
        >
          {{ product.tag }}
        </span>

  <button class="wishlist">
    <mat-icon>favorite_border</mat-icon>
  </button>

  <img
    [src]="product.image"
    [alt]="product.name"
  >

  <h4>{{ product.name }}</h4>

  <div class="rating">
    ★★★★☆
    <span>(120)</span>
  </div>

  <div class="price">

          <span class="new-price">
            ${{ product.price }}
          </span>

    <span class="old-price">
            ${{ product.oldPrice }}
          </span>

  </div>

  <button class="cart-btn">
    <mat-icon>shopping_cart</mat-icon>
    Add to Cart
  </button>

</div>
